<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.LabManagersMapper">

    <resultMap id="BaseResultMap" type="com.cg.pojo.LabManagers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
            <result property="labId" column="lab_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,manager_id,lab_id
    </sql>
    <select id="getManagers" resultType="com.cg.pojo.LabManagers">
        SELECT
            lm.*,
            l.lab_name AS labName,
            u.username AS username
        FROM
            lab_managers lm
                LEFT JOIN laboratories l ON lm.lab_id = l.lab_id
                LEFT JOIN users u ON lm.manager_id = u.user_id where lm.manager_id=#{uid}
    </select>
</mapper>
